@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<p>Oops! Something went wrong. We apologize for the inconvenience.</p>
<a asp-action="Index" asp-controller="Clearance" class="btn btn-primary">Return to Index</a>
